#kafka
kafka-python
#Finance API
yfinance

#Traitement NLP
transformers
torch
sentencepiece

#Scraping
requests
beautifulsoup4

#Dashboard
streamlit
plotly

#Utilitaires
pandas
python-dotenv
scikit-learn
numpy
matplotlib
seaborn

#Logging
logging